# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/workspace.xml
.idea/
*.iml
out
gen
ERP-Gateway/target/
ERP-Registry/target/
sales/target/
auth/target/
common/target/
domain/target/
system/target/
filemanager/target/